{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'recetas:home' %}">
                <img class="logo" src="{% static 'images/logos/cocina_para_todos_logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="container">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:signup' %}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</div>